TELEGRAM_TOKEN=7778203961:AAGYbhrsW4R318D5xF7CgElkLHW8jnthChc
WELCOME_MESSAGE="👋 Selamat datang, {first_name}! 
\nTerima kasih sudah bergabung di {chat_title} 💕 Di sini kamu bisa menemukan berbagai macam barang menarik dengan harga bersahabat. 
\n🛒 Silakan mau beli, atau cuma lihat-lihat dulu — semua boleh 😊\nHappy shopping! 🛍"

